.hx-header-component {
  padding: 1rem 5rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hx-header-component img {
    height: 40px !important;
    width: auto !important;
    max-width: 200px;
  }
}
@media screen and (max-width: 480px) {
  .hx-header-component {
    padding: 1rem !important;
  }
}
.hx-header-component .header-container {
  max-width: 1168px;
  margin: 0 auto;
}
