.hx-modal-options-component {
  text-align: center;
  position: relative;
  h2 {
    text-transform: uppercase;
    padding-top: 15px;
  }
  .modal-options {
    width: 300px;
    max-width: 100%;
    margin: auto;
    padding-top: 10px;
    text-align: left;
  }
}
