@import "../../assets/scss/variables.scss";
.ticket-container {
    padding: 2rem 1rem 2rem;
    background: $white-grey;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.barcode{
    margin-top:5rem;
}


@media (min-width: $media-md){
    .container {
        max-width: 1140px;
    }
}
h2{
    font-weight: $font-weight-semi-bold;
    color: $white;
}
.box-1{
    overflow: hidden;
    z-index: 100;
    position: relative;
   
}
.block-circle{
    left: auto;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    top: 0;
    position: relative!important;
}
.box-mobile {
    h2{
        text-align: center;
    }
}

@media screen and (max-width:600px) {
   
    .rounded-circle{
        left: 50% !important;
        transform: translate(-50%)!important;
        top: -3.9rem !important;
    }
    .box1-sub{
    border-right: 2px solid $light-grey!important;
    border-radius: 9px!important;
    border-bottom: 1px dashed $voucher-maincolor !important;
        padding-left:35px !important;
    }
    .box1-sub1{
        border-left:  1px solid $voucher-maincolor!important;
        border-radius: 9px!important;
        border-top: 1px solid $voucher-maincolor !important;
    }
    .box-mobile{
        display: none;
    }
    .barcode{
        margin-top:1.5rem;
    }
  }

.rounded-circle{
    height: 5rem;
    width: 5rem;
    z-index: 1;
    left: -3.8rem;
    top: -2.8rem;
    background-color:  $white-grey!important;
    border-radius: 50%;
    position: absolute!important;
    border: 2px solid $voucher-maincolor;
}

.box1-sub {
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    background: $voucher-maincolor;
    border: 2px solid $voucher-maincolor;
    border-right-width:0;
    padding: 10px;
    padding-left: 48px;
    p{
        margin: 4px 0px;
        color: $white;
    }
}

.box1-sub1{
    background: $white;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    border: 1px solid $voucher-maincolor;
    border-left:  1px solid $voucher-maincolor;
    text-align: center;
    padding: 10px;
    p {
        margin: 0 4px;
    }
    .title {
    font: size 15x;

    }
    .title1 {
        font-size:13px;
    }
}

.general-info {
    background: $white;
    .block{
        border-bottom: 1px solid $light-grey;
        padding: 20px;
        margin-bottom:20px;
    }
    h2{
        color:$black;
    }
}