<footer id="main-footer">
  <div class="footer--top-container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
    fxLayoutAlign="start center" [style.backgroundColor]="secondaryColor">
    <div fxFlex="auto" fxFlex.xs="auto" fxFlex.sm="auto" fxLayout="row" fxLayoutAlign="start center"
      fxLayout.sm="column" fxLayout.xs="column" class="search-block">
      <div fxFlex="30" fxFlex.xs="auto" fxFlex.sm="auto" fxLayout.sm="column" fxLayout.xs="column" class="book__label">
        <span>Book Local Experiences</span>
      </div>
      <div fxFlex="70" fxFlex.xs="auto" fxFlex.sm="auto" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
        fxFill="">
        <app-search-bar></app-search-bar>
      </div>
    </div>

  </div>
  <div class="container">
    <div id="footer-widgets" class="clearfix">
      <div class="footer-widget">
        <div id="custom_html-3" class="widget_text fwidget et_pb_widget widget_custom_html">
          <div class="textwidget custom-html-widget">
            <div class="sub-widget"><br>
              <img src="../../../../assets/images/home-logo.png" alt="footer-logo">
              <p></p>
              <a href="https://www.facebook.com/Hero-Explorer-1043711159115328/?modal=admin_todo_tour">
                <i class="fa fa-facebook"></i></a>
              <a href="https://www.instagram.com/weareheroexplorer/">
                <i class="fa fa-instagram"></i></a>
              <p></p>
              © Herobe Pty Ltd, trading as Hero Explorer. All rights reserved.

            </div>
          </div>
        </div>
      </div>
      <div class="footer-widget">
        <div id="custom_html-8" class="widget_text fwidget et_pb_widget widget_custom_html">
          <div class="textwidget custom-html-widget">
            <div class="widget-2">
              <a href="https://www.heroexplorer.com/login">Manage my booking</a><br>
              <a href="http://support.heroexplorer.com/support/">Support</a><br>
              <a href="http://support.heroexplorer.com/privacy-policy/">Privacy Policy</a><br>
              <a href="https://support.heroexplorer.com/terms-and-conditions/">Terms and Conditions</a><br>
              <a class="hide" href="http://support.heroexplorer.com/partner-with-hero-explorer/">Partner with Us</a><br>
              <a class="hide" href="http://support.heroexplorer.com/about-us/">About Us</a><br>
              <a class="hide" href="http://heroexplorer.com">Home</a><br>
              <br>
              <br>
              <email-subscribe-form></email-subscribe-form>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-widget">
        <div id="custom_html-9" class="widget_text fwidget et_pb_widget widget_custom_html">
          <div class="textwidget custom-html-widget">
            <div class="widget-3">
              <a href="http://support.heroexplorer.com/partner-with-hero-explorer/">Partner with Us</a><br>
              <a href="http://support.heroexplorer.com/about-us/">About Us</a><br>
              <a href="http://heroexplorer.com">Home</a><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
