@import "../../../../assets/scss/variables.scss";

.hx-search-bar-component {
  padding: 1rem;
  @media screen and (min-width: $media-md) {
    width: 100%;// width: 630px;
    margin: 0 auto;

  }
  .search-bar-keyword-container {
    position: relative;
    .search-bar__input-container {
      display: block;
      padding-right: 4rem;
      position: relative;
      input {
        width: 100%;
        padding-left: 1rem;
        border: 1px solid $light-grey;
        border-radius: 30px;
        font-size: 14px;
        height: 50px;
        padding-right: 3rem;
        //@media screen and (min-width: $media-xs) {
        //  border-left: none;
        //  border-top-left-radius: 0;
        //  border-bottom-left-radius: 0;
        //}
      }
      i {
        position: absolute;
        right: 15px;
        cursor: pointer;
        font-size: 18px;
        top: 15px;
        &:before{
            // color: $red;
        }
      }
    }
    .search-bar__list-top-container {
      z-index: 1020;
      background: $white;
      text-align: left;
      position: absolute;
      @media screen and (max-width: $media-xs) {
        position: relative;
        border: 1px solid $light-grey;
        .list-attractions {
          padding-bottom: 10px;
        }
      }
      ul {
        padding: 0 20px 10px;
        margin: 0;
        &.list-destinations {
          li {
            width: 50%;
          }
        }
      }
      li {
        line-height: 2em;
        float:left;
        display:inline;
        width: 100%;
        font-size: 12px;
        a:hover {
          text-decoration: underline;
        }
      }
      .list-attractions {
        background: $light-grey;
      }
      .label--top {
        color: $red;
        margin: 20px;
        font-weight: $font-weight-bold;
      }
    }
    .search-bar__list-results {
      z-index: 1;
      background: $white;
      text-align: left;
      position: absolute;
      padding: 1rem;
      width: calc(100% - 2rem);
      @media screen and (max-width: $media-xs) {
        position: relative;
        border: 1px solid $light-grey;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          line-height: 2em;
          border-bottom: 1px solid #e4e4e4;
          font-size: 14px;
          cursor: pointer;
          color: $black;
          &:last-child {
            border-bottom: none;
          }
          &:hover {
            background-color: $grey;
            color: $white;
            span {
              color: $white;
            }
          }
        }
      }
      .label--top {
        color: $red;
        margin: 10px 0;
        font-size: 14px;
        font-weight: $font-weight-bold;
      }
      .list-tours {
        margin: 20px 0;
      }
    }
    .search-bar__btn-find-more {
      background: $red;
      font-size: 14px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      cursor: pointer;
      a {
        color: $white;
        text-decoration: none;
      }
    }
  }
}

/deep/ .custom-search-bar-destination-select {
  width: 180px;
  .ng-select-container {
    height: 54px !important;
    min-width: 170px;
    margin-bottom: .5rem;
    @media screen and (min-width: $media-xs) {
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      margin-bottom: 0 !important;
    }
    .ng-arrow {
      border-color: $black transparent transparent !important;
      border-width: 10px 5px 2.5px !important;
      top: 4px !important;
    }
    .ng-input {
      top: 17px !important;
      input {
        font-size: 14px;
      }
    }
  }
  &.error {
    .ng-select-container {
      border: 1px solid $red;
    }
  }
}

/deep/ .custom-search-bar-activities-select {
  .ng-select-container {
    height: 54px !important;
    min-width: 170px;
    margin-bottom: .5rem;
    @media screen and (min-width: $media-xs) {
      border-radius: 0;
      margin-bottom: 0 !important;
    }
    .ng-arrow {
      border-color: $black transparent transparent !important;
      border-width: 10px 5px 2.5px !important;
      top: 4px !important;
    }
  }
}

/deep/ app-search-bar {
  width: 100%;
}
